#middle div,
#middle span,
#middle h1,
#middle h2,
#middle h3,
#middle h4,
#middle h5,
#middle p,
#middle img,
#middle a,
#middle button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  object-fit: cover;
}

#middle div {
  display: block;
}

#middle span {
  display: inline-block;
}

/*frequent products*/
.frequentProducts {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  position: relative;
}


 .frequentProductsTitle {
    font-size: 24px;
    padding: 0 20px;
    margin-bottom: 5px;
}


.frequentProductsTitleInner {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: solid 1px #dadada;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.frequentProductsImages {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 1440px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.frequentProductsImageAndSymbol {
  display : flex;
  align-items : center;
  justify-content: center;
}

.frequentProductsSymbol {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;

}

.frequentProductsImage {
  width: 220px;
  height: 150px;
  overflow: hidden;
}

.symbol {
  font-size: 30px;
}

.frequentProductsButton {
  font-weight: 700;
  background-color: #1428a0;
  color: #fff;
  border: 0 none;
  min-width: 220px;
  margin: 10px 0px;
  font-size: 12px;
  letter-spacing: .25em;
  display: inline-block;
  position: relative;
  padding: 20px 38px 20px 40px;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0, 0 100%;
  background-size: 100% 100%, 100% 100%;
  border-radius: 40px;
  outline: 0;
  transition: .2s ease-in;
  background-clip: border-box;
  z-index: 1;
}

.frequentProductsTotalPriceLabel {
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: 10pt;
}

.frequentProductsTotalContainer {
  text-align: center;
  margin: 20px;
}

.frequentProductsTotalPriceValues {
  -webkit-box-pack: center;
  justify-content: center;
  color: #222425;
  margin-bottom: 4%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}


.frequentProductsTotalPriceValuesFull {
  margin-left: 5px;
  text-align: left;
}

.frequentProductsTotalPriceValuesOriginal {
  font-weight: 100;
  font-size: 12px;
  color: #aaaaaa;
  line-height: 1.1;
  text-decoration: line-through;
}

.frequentProductsTotalPriceValueSave {
  font-size: 10px;
  font-weight: 300;
  color: #00b3e3;
  line-height: 1.1;
  white-space: nowrap;
}

.frequentProductsSelect {
  padding: 0 3%;
  max-width: 1440px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.frequentProductsSelectOption {
  display: flex;
  margin: 15px 0;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}


.frequentProductsItemName {
  color: #000;
  font-size: 14px;
  width: auto;
  position: relative;
  padding-right: 1em;
}

.frequentProductsItemPrice {
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

/*perks banner*/

.perksBanner {
  margin: 40px auto;
  max-width: 1440px;
  position: relative;
}

.perksContainer {
  padding: 5px 0;
  margin: 30px 0 30px 0;
  width: 100%;
  max-width: 1440px;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.perksBox0 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  padding: 10px 45px;
  justify-content: center;
  border: 0 solid rgba(0,0,0,0);
  float: left;
  position: relative;
  width: 25%;
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
}

.perksBox0inner {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
}

.perksBoxtopics {
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
  border-left: 1px solid black;
}

 .perksBox {
  box-sizing: border-box;
  float: left;
  padding: 20px;
  position: relative;
  width: 33.33333%;
  min-height: 100%;
}

.perksBoxheader {
  line-height: 1.2;
  font-size: 32px;
  font-weight: normal;
  height: 112px;
}

.perksBoxcaption {
  padding: 20px 0px 0px 0px;
  font-weight: normal;
  line-height: 1.5;
  font-size: 14px;
  height: 139px;
}

.perksBoxlearnmore {
  padding-top: 30px;
  font-size: 11px;
  padding-bottom: 5px;
  letter-spacing: 2.8px;
  font-weight: bold;
  display: inline-block;
  border-bottom: 1px solid black;
}

.perksBox2, .perksBox3 {
  border-left: 1px solid black;
}

/*textsection*/
.textSection {
  width: 100%;
  margin: 40px auto;
  max-width: 1440px;
  position: relative;
  overflow: hidden;
}

.textSectionWrapper {
  padding-top: 5.75%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textSectionHeaderWrapper {
  text-align: center;
}

.textSectionHeader {
  font-size: 40px;
  margin-bottom: 1.8%;
  line-height: 1.3;
}

.textSectionCode {
  margin-bottom: 3.35%;
  color: #363636;
  font-size: 20px;
}

.textSectionCaptionWrapper {
  width: 40%;
  margin: auto;
  text-align: center;
}

.textSectionCaption {
  color: #363636;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 3.2%;
  font-size: 18px;

}

/* Slideshow */
.carousel {
  width: 100%;
  margin: 40px auto;
  max-width: 1440px;
  position: relative;
  overflow: hidden;
}

 .carouselContainer {
   width: 100%;
   position: relative;
   display: inline-block;
}

 .carouselSlideImage {
  width: 100%;
}

.carouselSlideImageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  height: 810px;
  overflow: hidden;
  position: relative;

  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


.carouselSlide {
  text-align: center;
}

.carouselSlideText {
  width: 720px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: absolute;
  z-index: 600;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carouselSlideTextHeader {
  font-size: 48px;
  line-height: 1.2;
}

.carouselSlideTextCaption {
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.30;
}


.buttonNext {
  cursor: pointer;
  position:absolute;
  top:50%;
  display: block;
  right: 5px;
  border-radius: 50px ;
  height: 45px ;
  width: 45px ;
  background-color: rgb(255,255,255, 0.5);
  border: 0;
  outline: none;
  font-size: 41px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


.buttonPrev {
  cursor: pointer;
  position:absolute;
  top:50%;
  left: 5px;
  display: block;
  border-radius: 50px ;
  height: 45px ;
  width: 45px ;
  border: 0;
  background-color: rgb(255,255,255, 0.5);
  outline: none;
  font-size: 41px;
  text-align: center;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

.buttonNext:hover, .buttonPrev:hover {
  background-color: #e1e8ed;
}


/*hover gallery */

.hoverGallery {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  overflow: hidden;
  margin-bottom: 200px;
}

.galleryContainer {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 758px;
}

.galleryContainerInner {
  overflow: visible;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}

.leftSection {
  width: 60%;
  float: left;
  box-sizing: border-box;
  height: 100%;
  padding-right: 24px;
}

.rightSection {
  width: 40%;
  float: right;
  box-sizing: border-box;
  height: 100%;
}

.leftSectionTop {
  height: 400px;
  width: 100%;
  display: block;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.leftSectionBottom {
  height: 334px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.leftSectionBottomLeft {
  margin-left: 0;
  float: left;
  height: 100%;
  width: 30%;
  overflow: hidden;
  display: block;
  position: relative;
  font-size: 0;
  line-height: 0;
}

.leftSectionBottomRight {
  float: left;
  height: 100%;
  width: 564px;
  display: block;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  margin-left: 24px;
}



 .rightSectionTop {
  height: 230px;
  width: 100%;
  margin-top: 24px;
  overflow: hidden;
  text-align: center;
}

.rightSectionTextWrapper {
  width: 90%;
  margin: 0 auto;
  height: 230px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.rightSectionHeaderWrapper {
  width: 100%;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
}

.rightSectionCaptionWrapper {
  font-size: 15px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.rightSectionCode {
  margin-bottom: 3.35%;
  color: #363636;
  font-size: 15px;
}

.rightSectionBottom {
  height: 480px;
  width: 100%;
  margin-top: 24px;
  display: block;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;

}

/* .right-section-header {
  width: 40%;
  margin: auto 0;
  text-align: center;
} */

.zoom {
  overflow: hidden;
}

.zoom img {
  transition: transform .6s ease;
}

.zoom:hover img {
  transform: scale(1.08);
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
